*{
    box-sizing: border-box;
}

body{
    background-color: black;
}
.heading{
    /* border: 2px solid red; */
    width: 90%;
    height:fit-content;
    text-align: center;
    margin: auto;
    border-top: none;
    color: white;
    box-shadow: 0px 4px 5px 1px white;
    padding: 1px;
    margin-top: 40px;
}

.section{
    margin-left: 200px ;
    margin-right: 200px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
}

.section :nth-child(3){
    border-radius: 4px;
}
