.container{
    border-radius: 4px;
    width: 600px;
    background-color: white;
    margin: 4px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-left: 20px;
    padding-right: 5px;
    height: 90px;
}

.right img{
    width: 140px ;
    height: 90px;
}