*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main{
  background-color: rgb(50,50,50);
  width: 100%;
  height: 100vh;
  padding: 40px;
}
.comp{
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: center;
}
